body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

h5,
hr,
.content a {
    color: #FBD784;
}

.logo {
    font-weight: lighter;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

.font-chronicle {
    font-family: 'Chronicle Display', sans-serif;
}

.font-gilroy {
    font-family: 'Gilroy', sans-serif;
}

.header {
    background-image: linear-gradient(135deg, #0b1d26, transparent 87%), url(./img/HG.png);
    /* height: 150vh; */
    background-size: cover;
    position: relative;
}

hr {
    display: inline-block;
    width: 5rem;
    position: absolute;
}

h5 {
    display: inline-block;
}

.content {
    background-color: #0B1D26;
    position: relative;
}

.content-box,
.header-mini-title {
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto
}

.menu-item a {
    padding-right: 1.7em;
}

a {
    text-decoration: none;
    color: white;
}

.down {
    font-size: 0.5em;
}

h5 {
    text-transform: uppercase;
    font-size: 0.5em;
    letter-spacing: 0.5em;
}

h1 {
    text-transform: capitalize;
}

.content:before {
    content: '';
    position: absolute;
    display: block;
    top: -80px;
    left: 0;
    height: 100px;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 61.38%);
    ;
}

@media (min-width: 1160px) {
    .menu {
        text-align: center;
        font-size: 1.5em;
        padding-top: 2em;
    }
    .header {
        height: 90em;
    }
    .menu-item,
    .account {
        padding-top: 0.6em;
    }
    .menu div {
        padding-bottom: 1.4em;
    }
    .header-title {
        font-size: 4em;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .content-list {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .content-img {
        margin-left: auto;
        margin-right: auto;
    }
    .content {
        font-size: 2rem;
    }
    .header h5 {
        padding-left: 5em;
        margin-block-end: 0;
        font-size: 0.4em;
    }
    .header hr {
        top: 0.3em;
        width: 1.5em;
    }
    .content-box h5 {
        padding-left: 6em;
        padding-top: 4em;
        margin: 0;
        font-size: 0.7em;
    }
    .content-box-text {
        padding-top: 2.5em;
        width: 40%;
    }
    .content-img {
        width: 40%;
        padding-top: 3em;
        padding-bottom: 1.5em;
    }
    .content-img.second {
        padding-right: 5%;
    }
    .content-box {
        display: flex;
        flex-direction: row;
        padding-top: 3em;
    }
    .content-img.order {
        order: 1;
    }
    .logo {
        font-size: 2em;
        padding-bottom: 5em;
    }
    .follow {
        margin-top: 75px;
        font-size: 1.7em;
        position: absolute;
        left: 2em;
        top: 10em;
        display: flex;
        flex-direction: column;
    }
    .content-follow {
        transform: rotate(90deg);
        margin-bottom: 50px;
        position: relative;
        left: -27px;
    }
    .header-scroll {
        display: flex;
        position: absolute;
        right: 8em;
        top: 10.5em;
        font-size: 1.5em;
    }
    .header-scroll ul {
        position: absolute;
        flex-direction: column;
        text-align: center;
        list-style: none;
    }
    .header-scroll li {
        padding-top: 2.7em;
    }
    .content hr {
        top: 5.2em;
    }
    .content-id {
        position: absolute;
        font-size: 8.5em;
        z-index: 0;
        opacity: 0.1;
        font-weight: bolder;
    }
    .content-box-text {
        position: relative;
    }
    .content-id.second {
        left: -20%;
        top: 0%;
    }
    .content-id.first {
        left: -8%;
        top: 10%;
    }
    h2 {
        font-weight: 300;
        font-size: 2.3em;
        letter-spacing: 2px;
    }
    p {
        line-height: 1.4em;
    }
    .content-box-text a {
        font-size: 0.8em;
    }
}

@media (min-width:801px) and (max-width:1159px) {
    .menu {
        text-align: center;
        font-size: 1.5rem;
        padding-top: 2em;
    }
    .header {
        height: 90em;
    }
    .menu-item,
    .account {
        padding-top: 0.6em;
    }
    .menu div {
        padding-bottom: 1.4em;
    }
    .header-title {
        font-size: 4em;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .content-list {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .content-img {
        margin-left: auto;
        margin-right: auto;
    }
    .content {
        font-size: 1.5rem;
    }
    .header h5 {
        padding-left: 5em;
        margin-block-end: 0;
        font-size: 0.4em;
    }
    .header hr {
        top: 0.3em;
        width: 1.5em;
    }
    .content-box h5 {
        padding-left: 6em;
        padding-top: 4em;
        margin: 0;
        font-size: 0.6em;
    }
    .content-box-text {
        padding-top: 2.5em;
        width: 40%;
    }
    .content-img {
        width: 40%;
        padding-top: 3em;
        padding-bottom: 1.5em;
    }
    .content-img.second {
        padding-right: 5%;
    }
    .content-box {
        display: flex;
        flex-direction: row;
        padding-top: 3em;
    }
    .content-img.order {
        order: 1;
    }
    .logo {
        font-size: 2em;
        padding-bottom: 5em;
    }
    .follow {
        margin-top: 75px;
        font-size: 1.7em;
        position: absolute;
        left: 2em;
        top: 10em;
        display: flex;
        flex-direction: column;
    }
    .content-follow {
        transform: rotate(90deg);
        margin-bottom: 50px;
        position: relative;
        left: -27px;
    }
    .header-scroll {
        display: flex;
        position: absolute;
        right: 8em;
        top: 10.5em;
        font-size: 1.5em;
    }
    .header-scroll ul {
        position: absolute;
        flex-direction: column;
        text-align: center;
        list-style: none;
    }
    .header-scroll li {
        padding-top: 2.7em;
    }
    .content hr {
        top: 4.6em;
    }
    .content-id {
        position: absolute;
        font-size: 8.5em;
        z-index: 0;
        opacity: 0.1;
        font-weight: bolder;
    }
    .content-box-text {
        position: relative;
    }
    .content-id.second {
        left: -20%;
        top: 0%;
    }
    .content-id.first {
        left: -8%;
        top: 10%;
    }
    h2 {
        font-weight: 300;
        font-size: 2.3em;
        letter-spacing: 2px;
    }
    p {
        line-height: 1.4em;
    }
    .content-box-text a {
        font-size: 0.8em;
    }
}

@media (max-width: 800px) {
    .menu {
        display: block;
        text-align: center;
        font-size: 1.5rem;
        padding-top: 2em;
    }
    .header {
        height: 70em;
    }
    .menu div {
        padding-bottom: 1.4em;
    }
    .header-title {
        font-size: 2.5rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .header-scroll,
    .follow,
    .content-id {
        display: none;
    }
    .content-list {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .content-img {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding-top: 3em;
        padding-bottom: 1.5em;
    }
    .content {
        font-size: 2rem;
    }
    .header h5 {
        padding-left: 5em;
        margin-block-end: 0;
    }
    .header hr {
        top: 0.5em;
    }
    .content-box h5 {
        padding-left: 5.8em;
        margin: 0;
    }
    .content-box-text {
        padding-top: 1em;
    }
    .logo {
        font-size: 2em;
        padding-bottom: 5em;
    }
    h2 {
        font-weight: 300;
        font-size: 2em;
        letter-spacing: 2px;
    }
    p {
        line-height: 1.4em;
        font-size: 1em;
    }
    .content-box a {
        font-size: 0.7em;
    }
}